<a href="https://colab.research.google.com/github/Theresah123/Tutorials/blob/main/Ex8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Create a pandas Series from a list [100, 200, 300, 400].
# Display the Series.

In [1]:
import pandas

In [2]:
series = pandas.Series([100, 200, 300, 400])
print(series)

0    100
1    200
2    300
3    400
dtype: int64

In [ ]:
# Create a Series from a dictionary:
#{'Apples': 50, 'Bananas': 100, 'Oranges': 80}
#Print both the index and values.

In [8]:
series = pandas.Series({'Apples': 50, 'Bananas': 100, 'Oranges': 80})
series

Apples      50
Bananas    100
Oranges     80
dtype: int64

In [ ]:
# Create a Series with custom indexes:
Values = [5, 10, 15], Index = ['A', 'B', 'C'].

In [9]:
series = pandas.Series([5, 10, 15], index=['A', 'B', 'C'])
print(series)

A     5
B    10
C    15
dtype: int64

In [ ]:
# Create a DataFrame using the following dictionary
data = {
    'Name': ['Ama', 'Kojo', 'Esi', 'Yaw'],
    'Age': [22, 25, 20, 30],
    'City': ['Accra', 'Kumasi', 'Cape Coast', 'Takoradi']
}
# display the datafram

In [10]:
data = {
    'Name': ['Ama', 'Kojo', 'Esi', 'Yaw'],
    'Age': [22, 25, 20, 30],
    'City': ['Accra', 'Kumasi', 'Cape Coast', 'Takoradi']
}
Tess = pandas.DataFrame(data)
print(Tess)

   Name  Age        City
0   Ama   22       Accra
1  Kojo   25      Kumasi
2   Esi   20  Cape Coast
3   Yaw   30    Takoradi

In [ ]:
#Save the DataFrame from the question above as a CSV file called "students.csv".

In [15]:
Tess.to_csv("students.csv", index=False)

In [ ]:
# Read the file "students.csv" into a new DataFrame called df2.

In [12]:
df2 = pandas.read_csv("students.csv")
df2

   Name  Age        City
0   Ama   22       Accra
1  Kojo   25      Kumasi
2   Esi   20  Cape Coast
3   Yaw   30    Takoradi

I will try this with you when we meet

In [ ]:
# Step 1: Create a DataFrame of 3 employees with columns Name, Salary, and Department.
# Step 2: Add a new column called Bonus = 10% of Salary.
# Step 3: Save it as "employees.csv".
# Step 4: Read "employees.csv" into a new DataFrame.
# Step 5: Display only employees with Salary above 3000.
# Step 6: Replace any missing values in Bonus with 0.
# Step 7: Save the updated DataFrame as "employees_updated.csv".